@import "pageLoader.css";
.Card link {
  text-decoration: none !important;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover; /* This will ensure the image maintains its aspect ratio */
}

.product-container {
  height: 300px;
}
.product-container .col {
  display: flex;
  flex-direction: column;
}

.pagination-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f8f9fa; /* optional: change this to match your site's color scheme */
  margin-bottom: 0;
}